header > div {
    background-color: aquamarine;
}

.mobileMenuNotVisible {
    display: none;
}

#navMenu a {
    text-decoration: none;
}

#navMenu a:hover, #navMenu a:active {
    color:blue;
}

.mobileMenuVisible {
    display: flex;
    flex-direction: column;
    text-align: end;
    background-color: bisque;
}
